:root {
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* elementos base */

body{
    background-color: var(--preto);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 2.5rem;
    margin-left: 1%;
}

header nav {
    margin-right: 1%;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */

.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/Arcane2.jpg);
    background-position: center;
    background-repeat: no-repeat;

    min-height: 94vh;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 7%;
    margin-top: 1.5%;
    margin-left: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .titulo {
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1%;
    margin-left: 5%;
}

.botoes{
    margin-left: 2vw;
    margin-top: 1.5vh;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 1em 2em;
    margin-right: 15px;
    font-size: 1rem;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
   background-color: white;
   color: black;
}

.botao i{
    margin-right: .5em;
}

.filme-principal .container{
    width: 40%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: .55em;
}

/* Alterar o botão next e previous */
.owl-next span,
.owl-prev span{
    font-size: 3rem; 
    color: white; 
    font-weight: bold; 
}